.WheatherBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}

.Container {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #50CEF5;
    width: 200px;
    height: auto;
    border-radius: 1%;
    border-color: antiquewhite;
    border-style: solid;
    margin: 5px;
}

.Block {
    display: block;
}

.Flex {
    display: flex;
}

.Inline {
    display: inline;
}





