.TransportBackground {
    display: block;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

.container {
    width: 100vw; 
    height: 50vh;
}

.Flex {
    display: flex;
    justify-content: center;
    align-items: center;
}