.TransportBackground {
    display: block;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    width: 100vw;
    height: 50vh
}

.container {
    width: 100vw; 
    height: 50vh;
}